.intro {
  @include border-bottom-radius;
  @extend .vb-default-width;
  @extend .vb-condensed-text;
  background: $light-blue-color;
  text-align: center;
  padding: $line-height-computed;

  p a:link {
    text-decoration: underline;
  }

  .odesk {
    @include border-radius;
    background: $red-color;

    &:hover {
      background: $blue-color;
    }

    a {
      @extend .vb-condensed-headers;
      display: block;
      padding: ($line-height-computed / 2) $line-height-computed;

      &:hover {
        text-decoration:none;
      }
    }
  }
}
