@mixin for-xs {
  @media (max-width: $screen-xs-min) {
    @content
  }
}

@mixin for-sm {
  @media (min-width: $screen-sm-min) {
    @content
  }
}

@mixin for-md {
  @media (min-width: $screen-md-min) {
    @content
  }
}

@mixin for-lg {
  @media (min-width: $screen-lg-min) {
    @content
  }
}

// TODO: Find a way to substitute Helvetica Neue condensed: it has differrent weight
// As a temp solution using this ugly string
@mixin condensed-font($weight: 700, $color: white) {
  font: {
    weight: $weight;
    family: "Roboto Condensed", "HelveticaNeue-CondensedBold", "HelveticaNeueBoldCondensed", "HelveticaNeue-Bold-Condensed", "Helvetica Neue Bold Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  color: $color;
}

@function fa-list-left-margin($fs) {
  @return $fs * 1.2;
}

@mixin fa-list($icon: '0c8') {
  list-style: none;
  padding-left: 0;

  li {
    margin-left: fa-list-left-margin($font-size-base);
  }

  li::before {
    font-family: 'FontAwesome';
    content: "\f#{$icon}";
    color: $red-color;
    float: left;
    margin-left: -(fa-list-left-margin($font-size-base));
  }

  li:hover::before {
    color: $blue-color;
  }

  @media (min-width: $screen-sm-min) {
    li {
      margin-left: fa-list-left-margin($font-size-sm);
      &::before {
        margin-left: -(fa-list-left-margin($font-size-sm));
      }
    }
  }

  @media (min-width: $screen-md-min) {
    li {
      margin-left: fa-list-left-margin($font-size-md);
      &::before {
        margin-left: -(fa-list-left-margin($font-size-md));
      }
    }
  }

  @media (min-width: $screen-lg-min) {
    li {
      margin-left: fa-list-left-margin($font-size-lg);
      &::before {
        margin-left: -(fa-list-left-margin($font-size-lg));
      }
    }
  }
}
