// Bootstrap override

$font-size-base: 14px;
$line-height-base:        1.428571429 !default; // 20/14
$font-family-sans-serif:  "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//$headings-font-family: "Lora", $font-family-sans-serif;
$headings-font-weight: '700';

// Compass override

$default-border-radius: 12px;

// My

$font-size-xs: 13px;
$font-size-sm: 15px;
$font-size-md: 16px;
$font-size-lg: 18px;

$line-height-xs-computed: floor(($font-size-xs * $line-height-base));
$line-height-sm-computed: floor(($font-size-sm * $line-height-base));
$line-height-md-computed: floor(($font-size-md * $line-height-base));
$line-height-lg-computed: floor(($font-size-lg * $line-height-base));

$dark-red-color: #450000;
$red-color: #802828;
$blue-color: #007373;
$light-blue-color: #dbfff2;
$link-color: $blue-color; // BS

