.projects {
  @extend .col-lg-12;

  .project {
    @extend .col-xs-12, .col-lg-4, .col-md-4, .col-sm-4;
    @extend .vb-vertical-margins;
  }

  .thumb {
    @include border-radius;
    background: $blue-color;
    padding: $line-height-computed;

    img {
      @extend .img-responsive;
      border: 2px solid white;
      margin: 0 auto;
    }

    .name {
      @extend .vb-condensed-headers;
      margin-top: $line-height-computed;
      margin-bottom: 0;
      font-size: 18px;

      @include for-xs { font-size: 16px; }
      @include for-md { font-size: 22px; }
    }
  }
}
