<!-- TOP HEADER -->

<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">

    <div class="mdl-layout-title">{{ .author }}</div>

    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens -->
    <nav class="mdl-navigation ik-top-navigation--tablet-screen-and-larger">
      <a class="mdl-navigation__link" href="/works">Work</a>
      <a class="mdl-navigation__link" href="https://github.com/qd3v?tab=stars" target="_blank">GitHub</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">

  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">

    <!-- Icons list: https://www.google.com/design/icons/ -->

    <a class="mdl-navigation__link" href="/">
      <i class="material-icons">home</i> Home
    </a>
    <a class="mdl-navigation__link" href="/works">
      <i class="material-icons">palette</i> Work
    </a>
    <hr>
    <a class="mdl-navigation__link" href="https://github.com/qd3v?tab=stars" target="_blank">GitHub</a>
  </nav>

</div>

<!-- END TOP HEADER -->
