<div class="ik-grid-content mdl-grid">

  <div class="mdl-cell mdl-cell--12-col">
    <div class="ik-mdl-card--full-width mdl-card mdl-shadow--2dp">
      <div class="ik-putins-war-mdl-card__title mdl-card__title">
        <h2 class="mdl-card__title-text">Putin's War statement</h2>
      </div>
      <div class="ik-putins-war-mdl-card__supporting-text mdl-card__supporting-text">
        <p><strong>An important remark:</strong> I can’t express here everything that I think about Putin, and everything that I think about the criminal group that seized power over Russia. I can't do that simply because if I say something they will imprison me as soon as I go back to visit my elderly parents who still remain in Russia. We have lived in this fear since 2014, and it’s getting worse every day. I think you’ll understand everything that I’m talking about.</p>
        <hr>
        <p>In 2000 an ex-KGB agent was appointed to be the president of Russia which became an enormous drama for the whole world. Then, slowly year after year Russian people were stripped away from everything: first to go was free mass media, then - elections of the governors, afterwards - the presidential elections. Thereafter we lost the right for assembly - that would <a href="https://en.wikipedia.org/wiki/Bolotnaya_Square_case" target="_blank">lead to many years in prison</a>. Then, they began beating those who would attempt to assemble with more than a few people. Finally they took away our freedom of speech.</p>
        <p>There are many reasons why Russian people let this happen. But in my opinion, the most important reason is the KGB methods, as well as the propaganda of Paul Goebbels that was directed toward their own people. These methods have worked.</p>
        <p>First time the desire to have nothing in common with this regime and to go to another country appeared in me in 2014, when Putin annexed Crimea. It looked like there would be no bigger disgrace for our country again. I was mistaken. Back then I stayed because of my parents. Also, because it was my country after all, and even though some people were fooled, a lot of others were actively fighting with the regime using all remaining methods. There was a hope.</p>
        <p>But on February 24th, it became obvious that this is the end, that there will be no future for this country for many decades ahead. Earlier it was embarrassing to look into the eyes of Ukrainian people, but now you could simply burn from the shame.</p>
        <p>We are those people who hated that regime, who went to the rallies and protests, but unfortunately we didn't stop it. And now, hundreds of Ukrainian children and thousands of adults have perished, and different nations will now be divided for many generations.</p>
        <p>This was the last drop for me. I don't want to live in Russia. I have left all my life over there: my parents, friends and my dog. I have moved in a hurry and went to Turkey to catch a breath, to gather my thoughts, and to figure out how to live now. Those of us who have immigrated for the same reason are hundreds of thousands.</p>
        <p>I believe that the Ukrainian people will stand their ground, and my desire is that there will be no new victims on that road!</p>
      </div>
    </div>
  </div>
</div>
