// TODO: BEMify this draft

$color-main: rgb(255, 87, 34);
$grid-desktop-breakpoint: 840px;

// FIXING MDL DRAWER ICONS (1.0.6)
// @See https://github.com/google/material-design-lite/issues/1400

.mdl-layout__drawer {
  .mdl-navigation {
    .mdl-navigation__link {
      display: flex;
      align-items: center;
    }
  }
}

// Showing top menu only when it should fit
@media (max-width: $grid-desktop-breakpoint - 1) {
  .ik-top-navigation--tablet-screen-and-larger {
    display: none;
  }
}

.ik-grid-full-width {
  max-width: 960px;
}

.ik-grid-content {
  max-width: 760px;
}

.ik-avatar {
  width: 119px;
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.ik-logo {
  padding: 0;
  line-height: 1;

  .ik-logo__image {
    width: 24px;
    height: 24px;
    margin-right: 12px;
  }

  .ik-logo__path {
    fill: #fff;
  }
}

.ik-home-intro p {
  margin: 0;
}

.ik-job-banner {

  &--content {
    background: #ebebeb;
  }

  &__hidden {
    display: none;
  }

  &__visible {
    display: block;
  }

  &--text {
    margin: 0;
  }

  &--readmore, &--dismiss {
    display: block;
  }

  &--dismiss {
    margin-top: 12px;
  }
}

.ik-portfolio-showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  &--item-card {
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    width: 330px - 32;

    &-thumb-link {
      display: block;
    }

    &-thumb-img {
      width: 100%;
    }
  }
}

.ik-portfolio-thumb-img {
  width: 100%;
}

.ik-mdl-card--full-width {
  width: auto;
  min-height: 0;
}

.ik-putins-war-mdl-card__title {
  color: $color-main;
  height: 24rem;
  background: url('/img/putins-war.jpg') center / cover;

  &__supporting-text {
    width: auto;
  }
}

.ik-testimonials-mdl-card {
  &__testimonial {
    font-weight: bold;
    font-size: larger;
  }
  &__client {
    font-style: italic;
  }
}

.ik-testimonials-showcase {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
