<!-- INTRO -->

<div class="ik-grid-full-width mdl-grid">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--2-col-desktop">
    <img alt="{{ .Site.Params.author }}" class="ik-avatar mdl-shadow--2dp" src="/assets/avatar.png"/>
  </div>

  <div class="ik-home-intro mdl-cell mdl-cell--12-col mdl-cell--10-col-desktop mdl-cell--middle">
    <p>My name is Ivan, and I am backend developer since 1998.
      Here I want to list my skills in different technologies, especially those I'm focused on these years:
      Ruby language, testing, refactoring, microservices and APIs design.
    </p>
  </div>
</div>

<!-- END INTRO -->
