<!-- TODO: The only reason this file is HTML is a blank target, consider drop this UX antipattern and convert to MD  -->

<h3>Languages</h3>

<p>This group of languages I know very well or looking for an project to enhance my experience as a temporary junior developer in real projects. So please free to invite me if you have one :) These are my favourites I want to be professional in</p>

<ul>
  <li>
    <strong>Ruby</strong> - today is my primary language I use since 2011, and feel myself very comfortable with it.
    For a few last years there are rumors what Ruby is dying, but trust me - everything's all right with language, there's a problem on how people using it.
    I'm about monkey-patching, God classes and other bad practices.
    Ruby gives a lot of freedom, and because of that requires a lot of developer's responsibility.
    That's why principles such as SOLID, works so good for Ruby - they prevent developers from wrong language using (take
    a look at my favorite examples - <a href="http://hanamirb.org/" target="_blank">Hanami framework</a>
    or <a href="http://dry-rb.org/" target="_blank">DRY* gems family</a>).
  </li>
  <li>
    <strong>Clojure/ClojureScript</strong> - this is the language I plan to learn deeper. I wrote a small network data miner for myself using it, and it shows as a perfect data processor. Plus, ELisp as a free bonus :). Really interested to work on project using it to grow my Clojure skills!
  </li>
  <li>
    <strong>Elixir/Phoenix</strong> - as most Ruby devs this pair, for me Elixir seems more natural to transit to. Elixir is what I'm currently actively learning, but can't find a project where I can land as a junior dev :( BTW, I started to learn Erlang about 15 years ago, but there was no demand in Erlang in Russia those days
  </li>
  <li>
    <strong>Elm</strong> - crazy thing, and I just love it :) I used it for frontend part for one of my clients, but he disappeared suddenly, and the work stopped. Actually Elm is a language I'd like to use (for and if) SPAs
  </li>
  <li>
    <strong>*sh</strong> - every developer must feel comfortable with at least one of them, and knowing their different tricks and edge-cases.
    *sh itself not very hard to learn.
    Much more important to learn common tools provided by *nix and tasks they allow to complete
  </li>
  <li>
    <strong>PL/pgSQL</strong> - I love it! Actually it's my first declarative language I started to learn, looks a bit clumsy, but feels so powerful. There wasn't much tasks where I could learn it more, but every time it's an interesting experience.
  </li>
</ul>

<p>The languages below (and their ecosystem) below I currently not planning to learn or not using anymore:</p>

<ul>
  <li>
    <strong>Go</strong> - had some experience, but well, though this one conquers the world, ultra-fast, blazing fast compilation time etc., I just don't like the language itself at the moment, feels weird to me. Probably my opinion will change someday. Really cool things created on it, but I like others in this list much more
  </li>
  <li>
    <strong>Java/Kotlin</strong> - though I had some experience with Java many years ago (before C# came into scene), recently I realized what since then Java world changed a lot.
    Practically speaking I'm learning Java from the start, but thanks to C# experience this process is quite fast.
    Two goals I have: developing Android apps, and learn deeper Java SDK to use with Clojure
  </li>
  <li>
    <strong>PHP</strong> - I don't use PHP anymore, but this was my primary language for more that 10 years.
    I stopped using it when PHP began to demonstrate features of solid language like namespaces, but that was too late for me.
  </li>
  <li>
    <strong>C#</strong> - I don't use it anymore, but that was a great experience, and I believe it will help me with Java
  </li>
  <li>

    <strong>Lua</strong> - using for creating custom <a href="https://en.wikipedia.org/wiki/ConTeXt"
    target="_blank">ConTeXt</a> writers for <a
    href="http://pandoc.org/README.html" target="_blank">Pandoc</a> (I love parsers and books! :).
    Easy to learn, have unusual RegExp engine, and not much popular...

  </li>
</ul>

<h3> Ruby gems</h3>

<p>
  It's easier to list only major ones: Rack (hello, <a href="https://github.com/elixir-plug/plug"
  target="_blank">Plug</a> :) ) Rails, Grape, Hanami, DRY* gems family, Statemachines (any), Devise/Warden,
  Pundit/Protector/Cancancan, OmniAuth, PDF generation gems, Capistrano, Sidekiq/SuckerPunch, RSpec, Webmock, VCR, Capybara, tons of them...
</p>

<h3> Databases</h3>

<ul>

  <li>
    <strong>PostgreSQL</strong> - this is my favorite RDBMS since I begin to use Rails.
    My experience include: all the common stuff, administration/migration, triggers, rules, functions, materialized views, table patitioning, PL/pgPSQL, extensions like cube, uuid-ossp, hstore and so on.
    I'm not a PostgreSQL guru, but it's always interesting for me to learn something new about it.
  </li>
  <li>
    <strong>MySQL</strong> - I do not use that one for years, but used since 1998.
    In other words I'm not interested in MySQL after I met PostgreSQL.
  </li>
  <li>
    <strong>Redis</strong> - I began to use it in my own project when the trend of NoSQL started back to year 2010 (approx).
  </li>
  <li>
    <strong>Elasticsearch</strong> - rarely met this amazing tool, and would like to have more experience with it
  </li>
  <li>
    <strong>MongoDB</strong> - I began to use it at the same time as Redis, within the same project. Not a big fan of it, actually, though I understand where it fits best
  </li>
</ul>

<h3>API's integration (really tens of them, and list is incomplete)</h3>

<ul>

  <li>
    <a href="https://www.braintreepayments.com/" target="_blank"><strong>Braintree</strong></a> - sales registration, settlement, void, webhooks. Features usually required
  </li>
  <li>
    <a href="https://firebase.google.com/docs/auth/" target="_blank"><strong>Firebase Authentication</strong></a> - used this one for authentication for a client with API project. I needed some additional features, so I created custom
    <a href="https://github.com/hassox/warden" target="_blank">Warden</a> strategy to handle JWT authentication. Also I've added Firebase Authentication to Android app prototype for the same project (Java).
  </li>
  <li>
    <a href="https://firebase.google.com/docs/cloud-messaging/" target="blank"><strong>Firebase Cloud Messaging</strong></a> - very good API understading (direct notifications/group notifications etc.)
  </li>
  <li>
    <a href="https://www.twilio.com/" target="_blank"><strong>Twilio</strong></a> - this API I learned very well since I was responsible to refactor complex communication part of recent project.
  </li>
  <li>
    <a href="https://developer.apple.com/wallet/" target="_blank"><strong>Apple Passbook API</strong></a> (Web, Pushes and Pass format itself). I used all of these while creating
    <a href="/works/#bestfit" target="_blank">this</a> app.
  </li>
  <li>
    <a href="https://slack.com/" target="_blank"><strong>Slack</strong></a> - easy integration, nothing interesting: fancy bot messages with images and so on
  </li>
  <li>
    <a href="https://rollbar.com/" target="_blank"><strong>Rollbar</strong></a> - error tracking service
  </li>
  <li>
    <a href="http://newrelic.com/" target="_blank"><strong>NewRelic</strong></a> - famous easy and configurable app monitoring and analytics (used for Rails and Sidekiq app)
  </li>
  <li>
    <a href="https://acoustid.org/webservice" target="_blank"><strong>AcoustID</strong></a> - service providing search in music database by audio fingerprints
  </li>
  <li>
    <a href="https://wiki.musicbrainz.org/Development/JSON_Web_Service" target="_blank"><strong>MusicBrainz</strong></a> - huge music database you can search against
  </li>
  <li>
    <a href="https://musicbrainz.org/doc/Cover_Art_Archive/API" target="_blank"><strong>Cover Art Archive</strong></a> - found track name? use this API to get vinyl cover image :)
  </li>
  <li>
    <a href="https://airbrake.io/" target="_blank"><strong>Airbrake</strong></a> - very useful, but overpriced, service for tracking runtime errors
  </li>
  <li>
    <a href="https://papertrailapp.com/" target="_blank"><strong>Papertrail</strong></a> - log management, easy to setup, nothing too huge here
  </li>
  <li>
    <a href="https://deadmanssnitch.com/" target="_blank"><strong>Dead Man’s Snitch</strong></a> - small service for trackin' cron jobs running
  </li>
</ul>


<h3> DevOps</h3>

<ul>

  <li><strong>Tools</strong>

    <ul>
      <li>
        <a href="https://www.terraform.io/" target="_blank"><strong>Terraform</strong></a> - yeah, this one took Cloud provisioning to the next level! Fantastic tool I'm using a lot for any cloud environment setup/configuration. The only my personal wish is to have elegant multi-env feature build-in. At the moment it's implemented quite clumsy, and because of that it becomes especially hard to support for really large projects
      </li>
      <li>
        <a href="https://www.ansible.com/" target="_blank"><strong>Ansible</strong></a> - this perl is my second &num;1 tool if I'm working on DevOps. It (or to be more specific one of it's galaxy's
        <a href="https://github.com/ansistrano/deploy" target="_blank">Ansistrano</a> role) even replaced me
        <a href="http://capistranorb.com/" target="_blank">Capistrano</a> which was my favorite deploy tool for years.
      </li>
      <li>
        <a href="https://prometheus.io/" target="_blank"><strong>Prometheus</strong></a> - a must to know what's going on in your infrastructure/app. Using it in my home lab
      </li>
      <li>
        <a href="https://grafana.com/" target="_blank"><strong>Grafana</strong></a> - Prometheus's friend, takes time to configure metrics, but we all love neat and informative dashboards :)
      </li>
      <li>
        <a href="http://capistranorb.com/" target="_blank"><strong>Capistrano</strong></a> - yup, Ruby's deploy workhorse. This was no-choice option for deploy for me for years (yes, I heard about
        <a href="https://github.com/mina-deploy/mina" target="_blank">Mina</a>, but there's no sense to use it when you have Ansible now)
      </li>
      <li>
        <a href="https://www.packer.io/" target="_blank"><strong>Packer</strong></a> - if you need to bring machines asap, Packer is a way to go, nice and easy tool
      </li>
      <li>
        <a href="https://www.vagrantup.com/" target="_blank"><strong>Vagrant</strong></a> - any fancy multi-machine configuration (very useful for networking prototyping). Paired with Ansible provisioning, these two form a very powerful tool.
      </li>
    </ul>
  </li>

  <li><strong>Clouds</strong>
    <ul>
      <li>
        <strong>Google Cloud</strong> - my choice of cloud computing services. They took into consideration all AWS bad design decisions, and tried to avoid them. I had a very intensive use of every GC feature but k8S
      </li>
      <li><strong>AWS</strong> (gosh, I can't remember every one I worked with for these years :) )
        <ul>
          <li><strong>Amazon EC2</strong>
          </li>
          <li><strong>Amazon S3</strong>
          </li>
          <li><strong>Amazon RDS</strong>
          </li>
          <li><strong>Amazon ELB</strong>
          </li>
          <li><strong>Amazon CloudFront</strong>
          </li>
          <li><strong>Amazon Route 53</strong> - DNS, TLS certs management, etc
          </li>
          <li><strong>Amazon SES</strong> - including DNS configuration
          </li>
          <li><strong>Amazon Elastic Beanstalk</strong>
          </li>
          <li><strong>Amazon EC2 Containers</strong>
          </li>
          <li><strong>Amazon CloudFront</strong> - actually I needed it only once after migrated to Terraform
          </li>
          <li><strong>Amazon CloudWatch</strong>
          </li>
        </ul>
      </li>
      <li><strong>Linode</strong> - nice,
        <a href="https://www.linode.com/pricing/" target="_blank">cheap</a> and my favourite cloud hosting for small projects if you don't want to pay for Heroku. Additionally they brought k8s support and
        <a href="https://registry.terraform.io/modules/linode/k8s/linode/latest" target="_blank">Terraform module</a> recently. Nice!
      </li>
      <li>
        <strong>Heroku</strong> - perfect choice I recommend for new projects to deploy ASAP, Redis, PG, MySQL in a seconds. But very pricy for large projects
      </li>
      <li>
        <strong>Azure</strong> - had no chance to used, but the tutors I saw showed there's nothing radically different there, so learning can be done just at the time of building cloud. We live in times then we can say "another regular cloud" :)
      </li>
    </ul>
  </li>
</ul>

<h3> Operating systems</h3>

<ul>
  <li>
    <strong>macOS</strong> - my primary every-day perfect OS
  </li>
  <li>
    <strong>Debian family</strong> - my main OS (Ubuntu particularly) before I migrated to OS X in 2011. Now I'm using it for everything but desktop
  </li>
  <li>
    <strong>Gentoo</strong> - because it's fun and healthy for brain :) Just love it, had it on laptop, but took too many time to manage. Not for servers, of course. Interesting experience to cross-compile it for Raspberry/Nano PIs :)
  </li>
  <li>
    <strong>FreeBSD</strong> - if you need most proven network stack and native ZFS support - this is the choice. It was my #1 server OS in home lab servers until LXC became mainstream.
  </li>
  <li>
    <strong>Windows</strong> - games only, nothing interesting there
  </li>
</ul>

<h3>Front end</h3>

<p>
  <strong>There's a lot of frontend tools I use, but I use them for my personal projects, and not looking for frontend related job. Quick fixes, nothing more. So this section I'll keep empty</strong>
</p>
