<!-- THE WAY I WORK -->
<div class="ik-grid-content mdl-grid">
  <a id="the-way-i-work"></a>
  <div class="mdl-cell mdl-cell--12-col">
    <div class="ik-the-way">
      <h2 class="mdl-typography--text-center mdl-typography--font-thin mdl-typography--text-uppercase">The way I work</h2>

      <ul>
        <li>I'm a huge fan of TDD/BDD and particulary Rspec</li>
        <li>Use SOLID, KISS and DRY (amoung others) principles and don't overengineer using them</li>
        <li>Always trying to be smart and accurate while refactoring, start it only after I have tests covered refactoring zone (if this is my code, it's always true) and find a compromise between complexity and readability</li>
        <li>Break large tasks onto small ones, it it's still complex, repeat</li>
        <li>I believe that modern developer must learn something new every day, especially in our information century, to be on the edge of new ideas and technologies</li>
        <li>Love to read the source code if it's readable, of course</li>
        <li>Write clean code and find simple and elegant solutions using language-specific technics</li>
        <li>Learn fast (thanks to 17 years of experience)</li>
        <li>RTFC, RTFM and google in every unexpected situation</li>
        <li>Keep my workspace and tools simple and responsive, so they don't bother me, allowing me to fully concentrate on current task</li>
      </ul>
    </div>
  </div>
</div>

<!-- END THE WAY I WORK -->
