<!-- PORTFOLIO ITEM -->

{{ $slug := .Slug }}
{{ $shortAbout := .Params.shortabout }}

<!--
TODO: DRY
NOTE: Remember: MDL has different col nums for each dev: http://www.getmdl.io/components/index.html#layout-section/grid
-->

{{ "<!-- PORTFOLIO ITEM -->" | safeHTML }}

<div class="mdl-cell mdl-cell--12-col">
  <a id="{{$slug}}"></a>
  <h3>{{ .Title }}</h3>
</div>

{{ with $images := .Params.images }}

{{ $thumbSubdir := cond (isset $.Params "nothumbs") "" "/thumbs" }}

  {{ range $image := $images }}

  {{ $thumbPath := printf "/img/portfolio%s/%s_%s" $thumbSubdir $slug $image}}
  {{ $fullSizePath := printf "/img/portfolio/%s_%s" $slug $image }}

  <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
    <p>
      <a href="{{ $fullSizePath }}" target="_blank">
        <img class="ik-portfolio-thumb-img mdl-shadow--6dp" src="{{ $thumbPath }}"/>
      </a>
    </p>
  </div>
  {{ end }}

{{ end }}

<div class="mdl-cell mdl-cell--12-col">
  {{ $.Content }}

  {{ with $url := $.Params.projecturl }}
  <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="{{$url}}" target="_blank">Visit</a>
  {{ end }}
</div>


{{ "<!-- END OF PORTFOLIO ITEM -->" | safeHTML }}
